doctype html
html
    head
        style
            include style.css
    body
        div
            | Hey there!!!
            br
            | This email is about.....
            p About my studying in Okten.
        div
            block content
        div.footer
            | Best regards
            br
            a(href='https://www.youtube.com/watch?v=0BfBr-Wft24') JUNE-2022 course Node.js