doctype html
html
    head
        style
            include style.css
    body
        div
            | Hey there!!!
            br
            | This email is about.....
            p About my studying in Okten.
        div
            block content
        div.footer
            | Best regards
